/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5; /* Fondo gris claro para toda la página */
}

/* Estilos para el encabezado */
.header {
    background-color: #6d5e45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

.header:hover {
    background-color: #6d5e45a5; /* Cambio de color al pasar el ratón */
}

.header .logo img {
    height: 60px;
}

.header .buttons {
    display: flex;
    gap: 25px;
}

.header .buttons button {
    padding: 15px 25px;
    background-color: #c4bcaa; 
    color: #000;
    border: 2px solid #c4bcaa;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color al pasar el ratón */
}

.header .buttons button:hover {
    background-color: #5a4b35; 
    color: #fff;
}

/* Contenido principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
}

.main-content h1 {
    text-align: center; 
    color: #000;
    margin-bottom: 20px;
}

.main-content .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main-content button[type="submit"] {
    padding: 10px 20px;
    background-color: #c4bcaa; 
    color: #000;
    border: 2px solid #c4bcaa;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color al pasar el ratón */
    margin-bottom: 10px;
}

.main-content button[type="submit"]:hover {
    background-color: #5a4b35; 
    color: #fff;
}

/* Pie de página */
.footer {
    background-color: #c4bcaa; 
    padding: 20px;
    border-top: 2px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .footer-logo {
    margin-right: auto;
}

.footer .footer-menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.footer .footer-menu-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .footer-menu-column a {
    color: #040506;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease; /* Transición de color al pasar el ratón */
}

.footer .footer-menu-column a:hover {
    color: #ffffff; /* Cambio de color al pasar el ratón a blanco */
}
