body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #6d5e45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #000;
    position: relative;
    z-index: 2;
}
.header:hover {
    background-color: #6d5e45a5; /* Cambio de color al pasar el ratón */
}
.header .logo img {
    height: 60px;
}

.buttons {
    display: flex;
    gap: 25px;
}

.buttons button {
    padding: 15px 25px;
    background-color: #c4bcaa; 
    color: #000;
    border: 2px solid #c4bcaa;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttons button:hover {
    background-color: #6d5e45;
    color: #c4bcaa;
}

.sidebar {
    width: 220px;
    background-color: #e7e6e7;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c4bcaa; 
    color: #040202;
    border: 2px solid #c4bcaa;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover {
    background-color: #6d5e45;
    color: #c4bcaa;
}

.main-content {
    margin-left: 30px;
    padding: 20px;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    margin-left: 0;
}

.main-content form .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.main-content form label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.main-content form input[type="text"], .main-content form select {
    flex: 1;
    max-width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
}

.main-content form button[type="submit"],
.additional-buttons button {
    padding: 10px 20px;
    background-color: #c4bcaa; 
    color: #000;
    border: 2px solid #c4bcaa;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.main-content form button[type="submit"]:hover,
.additional-buttons button:hover {
    background-color: #6d5e45;
    color: #c4bcaa;
    border-color: #6d5e45;
}

.footer {
    background-color: #c4bcaa; 
    padding: 20px;
    border-top: 2px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}

.footer .footer-logo {
    margin-right: auto;
}

.footer .footer-menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
}

.footer .footer-menu-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .footer-menu-column a {
    color: #040506;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.footer .footer-menu-column a:hover {
    color: #ffffff; /* Cambia el color a blanco al pasar el mouse */
}
